<section class="aboutus">
  <div class="aboutus-img">
    <picture class="aboutus-img__picture">
      <source srcset="../src/images/home/people-pc.jpg" media="(min-width: 1360px)" />
      <source srcset="../src/images/home/people-tablet.jpg" media="(min-width: 768px)" />
      <img class="aboutus-img__picture" src="../src/images/home/people.jpg" alt="people" />
    </picture>
  </div>
  <div class="aboutus-descr">
    <p class="aboutus-descr__undertitle">What you are looking for</p>
    <h3 class="aboutus-descr__title">We provide bespoke solutions</h3>
    <p class="aboutus-descr__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
      laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?
    </p>
    <button class="aboutus-descr__button" type="button">Read more</button>
  </div>
</section>
