<section class="blog">
  <picture>
    <source srcset="../src/images/home/blog@2x.webp" media="(min-width: 768px)" />
    <source srcset="../src/images/home/blog@2x.jpg" media="(min-width: 768px)" />
    <source srcset="../src/images/home/blog.webp" media="(min-width: 320px)" />
    <img class="blog-img" src="../src/images/home/blog.jpg" alt="blog" />
  </picture>
  <div class="blog-preview">
    <p class="blog-preview__undertitle">April 16 2020</p>
    <h3 class="blog-preview__title">Blog Post One</h3>
    <p class="blog-preview__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae
      laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum
      temporibus doloribus iste maiores deleniti?
    </p>
    <button class="blog-preview__button" type="button">Read Our Blog</button>
  </div>
</section>
