<section class="cases">
  <div class="cases-preview">
    <p class="cases-preview__undertitle">This is what we do</p>
    <h3 class="cases-preview__title">Business Cases</h3>
    <p class="cases-preview__descr">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
    </p>
  </div>
  <ul class="cases-gallery">
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases1@2x.jpg" data-lightbox="group">
        <picture>
          <source srcset="../src/images/cases/cases1@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases1@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases1.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases1.jpg" alt="case1" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases2@2x.jpg" data-lightbox="group">
        <picture>
          <source srcset="../src/images/cases/cases2@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases2@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases2.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases2.jpg" alt="case2" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases3@2x.jpg" data-lightbox="group">
        <picture>
              <source srcset="../src/images/cases/cases3@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases3@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases3.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases3.jpg" alt="case3" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases4@2x.jpg" data-lightbox="group">
        <picture>
              <source srcset="../src/images/cases/cases4@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases4@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases4.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases4.jpg" alt="case4" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases5@2x.jpg" data-lightbox="group">
        <picture>
              <source srcset="../src/images/cases/cases5@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases5@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases5.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases5.jpg" alt="case5" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases6@2x.jpg" data-lightbox="group"">
        <picture>
              <source srcset="../src/images/cases/cases6@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases6@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases6.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases6.jpg" alt="case6" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases7@2x.jpg" data-lightbox="group">
        <picture>
              <source srcset="../src/images/cases/cases7@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases7@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases7.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases7.jpg" alt="case7" />
        </picture>
      </a>
    </li>
    <li class="cases-gallery__item">
      <a href="../src/images/cases/cases8@2x.jpg" data-lightbox="group">
        <picture>
            <source srcset="../src/images/cases/cases8@2x.webp" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases8@2x.jpg" media="(min-width: 1360px)" />
          <source srcset="../src/images/cases/cases8.webp" media="(min-width: 320px)" />
          <img class="cases-gallery__img" src="../src/images/cases/cases8.jpg" alt="case8" />
        </picture>
      </a>
    </li>
  </ul>
</section>
