<section class="features-section">
  <div class="container">
    <ul class="features">
      <li class="features-item bank-icon">
        <h3 class="features-title">Investmant Banking</h3>
        <p class="features-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </li>
      <li class="features-item book-icon">
        <h3 class="features-title">Portfolio Manager</h3>
        <p class="features-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </li>
      <li class="features-item penc-icon">
        <h3 class="features-title">Tax & Custudio</h3>
        <p class="features-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
