<footer class="footer">
  <div class="footer-links">
    <a href="https://facebook.com/">
      <i class="fab fa-facebook proverka" style="font-size: 35px; color: white"></i
    ></a>
    <a href="https://twitter.com/">
      <i class="fab fa-twitter" style="font-size: 35px; color: white"></i
    ></a>
    <a href="https://youtube.com/">
      <i class="fab fa-youtube" style="font-size: 35px; color: white"></i>
    </a>
    <a href="https://www.linkedin.com/">
      <i class="fab fa-linkedin-in" style="font-size: 35px; color: white"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <p class="footer-copyright__text">Copyright &#169 2021 - FinanceLedger</p>
  </div>
</footer>
