<header>
  <div class="header-cont">
    <div class="header">
      <a class="header-link" href="#">
        <img class="header-link__img" src="../src/images/logo.svg" alt="" />
        Finance <span class="header-link header-text">Ledger</span></a
      >
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item"><a class="nav-list__link" href="">Home</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="">About</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="">Cases</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="">Blog</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero">
      <h1 class="hero-title">The Sky Is The Limit</h1>
      <p class="hero-description">We provide world class financial assistance</p>
      <button class="hero-button" type="button">
        <svg class="btn-arrow" width="9" height="11">
          <use href="../src/images/sprite.svg#icon-arrow-left"></use>
        </svg>
        Read More
      </button>
    </div>
  </div>
</header>
