<section class="ourteam">
  <div class="container">
    <div class="ourteam-preview">
      <p class="ourteam-preview__undertitle">Who we are</p>
      <h3 class="ourteam-preview__title">Our Professional Team</h3>
      <p class="ourteam-preview__descr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
      </p>
    </div>
    <ul class="ourteam-list">
      <li class="ourteam-list__item">
        <div class="ourteam-list__overlay">
          <div class="team-links">
            <a href="https://facebook.com/">
              <i class="fab fa-facebook proverka" style="font-size: 35px; color: white"></i
            ></a>
            <a href="https://twitter.com/">
              <i class="fab fa-twitter" style="font-size: 35px; color: white"></i
            ></a>
            <a href="https://youtube.com/">
              <i class="fab fa-youtube" style="font-size: 35px; color: white"></i>
            </a>
            <a href="https://www.linkedin.com/">
              <i class="fab fa-linkedin-in" style="font-size: 35px; color: white"></i>
            </a>
          </div>
          <picture>
            <source srcset="../src/images/team/person1@2x.webp" media="(min-width: 1360px)" />
            <source srcset="../src/images/team/person1@2x.jpg" media="(min-width: 1360px)" />
            <source srcset="../src/images/team/person1.webp" media="(min-width: 320px)" />
            <img class="ourteam-list__img" src="../src/images/team/person1.jpg" alt="person1" />
          </picture>
        </div>
        <h4 class="ourteam-list__title">John Doe</h4>
        <p class="ourteam-list__descr">President</p>
      </li>
      <li class="ourteam-list__item">
        <div class="ourteam-list__overlay">
          <div class="team-links">
            <a href="https://facebook.com/">
              <i class="fab fa-facebook proverka" style="font-size: 35px; color: white"></i
            ></a>
            <a href="https://twitter.com/">
              <i class="fab fa-twitter" style="font-size: 35px; color: white"></i
            ></a>
            <a href="https://youtube.com/">
              <i class="fab fa-youtube" style="font-size: 35px; color: white"></i>
            </a>
            <a href="https://www.linkedin.com/">
              <i class="fab fa-linkedin-in" style="font-size: 35px; color: white"></i>
            </a>
          </div>
          <picture>
            <source srcset="../src/images/team/person2@2x.webp" media="(min-width: 1360px)" />
            <source srcset="../src/images/team/person2@2x.jpg" media="(min-width: 1360px)" />
            <source srcset="../src/images/team/person2.webp" media="(min-width: 320px)" />
            <img class="ourteam-list__img" src="../src/images/team/person2.jpg" alt="person2" />
          </picture>
        </div>
        <h4 class="ourteam-list__title">Jane Doe</h4>
        <p class="ourteam-list__descr">Vice President</p>
      </li>
      <li class="ourteam-list__item">
        <div class="ourteam-list__overlay">
          <div class="team-links">
            <a href="https://facebook.com/">
              <i class="fab fa-facebook proverka" style="font-size: 35px; color: white"></i
            ></a>
            <a href="https://twitter.com/">
              <i class="fab fa-twitter" style="font-size: 35px; color: white"></i
            ></a>
            <a href="https://youtube.com/">
              <i class="fab fa-youtube" style="font-size: 35px; color: white"></i>
            </a>
            <a href="https://www.linkedin.com/">
              <i class="fab fa-linkedin-in" style="font-size: 35px; color: white"></i>
            </a>
          </div>
          <picture>
            <source srcset="../src/images/team/person3@2x.webp" media="(min-width: 1360px)" />
            <source srcset="../src/images/team/person3@2x.jpg" media="(min-width: 1360px)" />
            <source srcset="../src/images/team/person3.webp" media="(min-width: 320px)" />
            <img class="ourteam-list__img" src="../src/images/team/person3.jpg" alt="person3" />
          </picture>
        </div>
        <h4 class="ourteam-list__title">Steve Smith</h4>
        <p class="ourteam-list__descr">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
