.aboutus-img {
  text-align: center;
  display: flex;
  justify-content: center;
}
.aboutus-descr {
  padding: 30px;
  background-color: #28a745;
  color: $white-text-color;
  margin: 0 auto;
  &__undertitle {
    font-size: 18px;
    line-height: 1.666;
  }
  &__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.263;
    margin-bottom: 25px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.625;
  }
  &__button {
    width: 158px;
    height: 47px;
    border: 1px solid #ffffff;
    color: $white-text-color;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
  &__button:hover {
    background-color: $white-text-color;
    color: #28a745;
  }
}

@media screen and (min-width: 768px) {
  .aboutus {
    display: flex;
    justify-content: center;
    width: 768px;
    margin: 0 auto;
  }
  .aboutus-descr {
    width: 768px;

    &__undertitle {
      font-size: 20px;
      line-height: 1.65;
    }
    &__text {
      font-size: 18px;
      line-height: 1.555;
      width: 315px;
    }
    &__title {
      width: 204px;
    }
    &__button {
      margin-top: 20px;
    }
  }
  .aboutus-img__picture {
    width: 384px;
  }
}

@media screen and (min-width: 1360px) {
  .aboutus {
    width: 1360px;
  }
  .aboutus-descr {
    width: 1360px;
    padding-top: 84px;
    &__title {
      width: auto;
    }
    &__text {
      width: 606px;
    }
  }
  .aboutus-img__picture {
    width: 680px;
  }
}
