.blog-img {
  margin: 0 auto;
}

.blog-preview {
  padding: 30px;
  background-color: #0284d0;
  color: $white-text-color;
  &__undertitle {
    font-size: 18px;
    line-height: 1.666;
  }
  &__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.263;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.625;
  }
  &__button {
    margin-top: 14px;
    color: $white-text-color;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    width: 184px;
    height: 47px;
    cursor: pointer;
    transition: 0.3s;
  }
  &__button:hover {
    background-color: $white-text-color;
    color: #0284d0;
  }
}

@media screen and (min-width: 768px) {
  .blog {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 768px;
  }
  .blog-img {
    width: 395px;
    height: 450px;
    margin-left: 0;
  }
  .blog-preview {
    &__undertitle {
      font-size: 20px;
      line-height: 1.65;
    }
    &__text {
      font-size: 18px;
      line-height: 1.555;
      width: 315px;
    }
  }
}

@media screen and (min-width: 1360px) {
  .blog {
    width: 1360px;
  }
  .blog-img {
    width: 680px;
  }
  .blog-preview {
    width: 680px;
    padding-top: 112px;
    &__text {
      font-size: 18px;
      line-height: 1.555;
      width: 606px;
    }
  }
}
